Checks: '*, -fuchsia-default-arguments-calls, -fuchsia-trailing-return, -llvm-header-guard, -modernize-use-auto, -modernize-use-trailing-return-type, -readability-uppercase-literal-suffix, -hicpp-uppercase-literal-suffix, -fuchsia-overloaded-operator, -cppcoreguidelines-macro-*, -modernize-use-using, -readability-named-parameter, -clang-diagnostic-pragma-once-outside-header, -google-readability-todo'
